@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Inter:wght@900&family=Rubik&family=Work+Sans:wght@200&display=swap');

.page {
  padding: 0;
  margin: 0;
  background: url(./images/notes.jpg) no-repeat;
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
  font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif;
color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.nav__container {
  display: flex;
  flex-direction: row;
align-items: center;
  position: absolute;
  top: 10px;
  left: 5px;
  gap: 10px;
}

.nav__logo {
  background: url(./images/G-clef.svg);
 filter: revert(100%);
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
  width: 40px;
  height: 50px;
}

.nav__link {
  text-decoration: none;
 color: white;
  opacity: 0.7;
  font-size: 20px;
}

.video-main {
  width: 568px;
  height: 516px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slider__item {
  display: flex;
 
  flex-direction: column;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 1px rgba(245, 242, 242, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 1s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  padding-top: 10px;
 
 
}

.caption_active {
visibility: hidden;
opacity: 0;

}

.caption {
  
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
}

.slider__item:hover,
.slider__item:focus,
.slider__item:active {

  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.video-main_fade-in {
  -webkit-animation: fade-in 7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 7s ease;
}

.video {
  width: 568px;
  height: 516px;
}

.slider__wrapper {
 
  overflow: hidden;
  width: 55%;

}

.slider__track {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  transition: all 1s linear;
 
  position: relative;
  
}

.slider__link {
  width: inherit;
  height: auto;
}

.slider__image {
  width: inherit;
  height: auto;
  
}

.slider__button {
  border: none;
  width: 30px;
  height: 30px;
  background: transparent;
  opacity: 0.5;
}

.slider__button_prev {
  position: absolute;
  bottom: 22%;
  left: 18%;
  background: url(./images/arrow-left-white.svg) no-repeat center;
  background-size: cover;
}

.slider__button_next {
  position: absolute;
  bottom: 22%;
  right: 20%;
  background: url(./images/arrow-right-white.svg) no-repeat center;
  background-size: cover;
}